##############################
# Files/File-pattern to ignore
##############################

# Emacs, Vi and other editor temp files
*~
.#*

# Intellij project settings folder
.idea/

# Files and folders for Intellij and other IDEs
fakevault/
wallet/
out/
generated-srcs/
.classpath
.project
.settings
*.ipr
*.iws
*.iml

# Build destination for Maven
target/
dependency-reduced-pom.xml
abandoned/

# Mac custom attributes file
.DS_Store

